<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who's that Pokemon?</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/poke.js' %}?{% now 'U'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U'%}">
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <div id="logoImg" class="playNice">
                <img src="{% static 'images/poke-title.gif' %}?{% now 'U'%}">
            </div>
            <div class="rightP playNice">
                <p>Pokedex</p>
            </div>
        </div>
        <div class="main">
            <h2>Click any pokemon to see the info</h2>
            <div id="pokemon">
            </div>
            <div id="pokedex">
            </div>
        </div>
    </div>
</body>
</html>